<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.8">
    <title> Blog House | <%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>