<nav>
    <div class="site-title">
        <h2> <a href="/"> Blog House </a></h2>
        <p> A blog website</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
        <li><a href="/rate">Rate Us</a></li>
    </ul>
</nav>