<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.8">
	<title> Blog House | <%= title %></title>
</head>
<body>
	<nav>
		<div class="site-title">
            <a href="/"> Blog Site </a>
            <p> A blog website</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>About us</h2>
        <p>This is a website made for posting personal blogs. These blogs will be apeared public so that everyone can see these blogs.</p>
        <p>People can like ,comment,share these blogs.</p>
        <p>Thus community relation will improve to a great extent.</p>
        <p> Enjoy our service :)</p>
    </div>
    
	
</body>
</html>