<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
	<%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>This is a website made for posting personal blogs. These blogs will be apeared public so that everyone can see these blogs.</p>
        <p>People can like ,comment,share these blogs.</p>
        <p>Thus community relation will improve to a great extent.</p>
        <p> Enjoy our service :)</p>
    </div>
    <%- include('./partials/footer.ejs') %>
	
</body>
</html>