<html lang="en">
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.8">
	<title> Blog House | <%= title %></title>
</head>
<body>

    <% const name= 'maria' %>

	<nav>
		<div class="site-title">
            <h2>Blog House</h2>
            <a href="/"> Blog Site </a>
            <p> A blog website</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="blogs content">
        <h2>All blogs</h2>

        <% if(blogs.length >0){ %>
            <% blogs.forEach(blog => { %>
                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet %> </p>
            <% }) %>
            
        <% } %>
    </div>
    
	
</body>
</html>