 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
        body{
          max-width: 1200px;
          margin: 20px auto;
          padding: 0 20px;
          font-family: 'Noto Serif', serif;
          max-width: 1200px;
          /*background-color: rgb(237, 237, 245);*/
        }
        p, h1, h2, h3, a, ul{
          margin: 0;
          padding: 0;
          text-decoration: none;
          color: #222;
        }
        /* nav & footer styles */
        nav{
          display: flex;
          justify-content: space-between;
          margin-bottom: 60px;
          padding-bottom: 10px;
          border-bottom: 2px solid rgb(163, 130, 130);
          text-transform: uppercase;
          /*background-color: rgb(201, 201, 109);*/
        }
        nav ul{
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        }
        nav li{
          list-style-type: none;
          margin-left: 20px;
        }
        nav h1{
          font-size: 3em;
        }
        nav p, nav a{
          color: rgb(201, 8, 8);
          font-weight: 350;
        }
         #blog-house{
            text-decoration-style: wavy;
            text-transform: capitalize;
            text-shadow: mediumblue;
        }
        footer{
          color: #777;
          text-align: center;
          margin: 80px auto 20px;
        }
        h1{
            color: chocolate;
        }
        h2{
          margin-bottom: 40px;
        }
        h3{
          text-transform: capitalize;
          margin-bottom: 8px;
        }
        .content{
          margin-left: 20px;
        }
        /* index styles */
        .blogs a {
            display: table;
            
            padding-left: 3%;
            border-width:0 50px;
            border-left: blue;
            
        }
        .blogs h2{
            color: rgb(92, 92, 8);
            
        }
        
        
        #overview{
            
            border-width:0 5px;
            border-left: blue;
        }
        .blogs a:hover h1{
            color: maroon;
        }
        /* details styles */
        .full-blog{
            border-left: blue;
           /*background-color: gray;*/
           color:crimson;
        }
        #full-body{
            border-left:solid red;
            border-width:0 5px;
            margin-top: 5%;
            padding-left: 3%;
        }
        /* create styles */
        
        .create-blog form{
          max-width: 400px;
          margin: 0 auto;
        }
        .create-blog input,
        .create-blog textarea{
          display: block;
          width: 100%;
          margin: 10px 0;
          padding: 8px;
          border-color: cornflowerblue;
          border-width: medium;
        }
        .create-blog label{
          display: block;
          margin-top: 24px;
          color: crimson;
          font-weight: bold; 
        }
        textarea{
          height: 120px;
          border-color: cornflowerblue;
          border-width: medium;
        }
        .create-blog button{
          margin-top: 20px;
          background: green;
          color: white;
          padding: 6px;
          border: 3;
          font-size: 1.2em;
          cursor: pointer;
        }